[submodule "Beaches/vendor/libosmium"]
	path = Beaches/vendor/libosmium
	url = https://github.com/osmcode/libosmium.git
[submodule "Beaches/vendor/protozero"]
	path = Beaches/vendor/protozero
	url = https://github.com/mapbox/protozero.git
